.list {
  display: flex;
  user-select: none;
  gap: 4px;
  button {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 6px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: var(--text-color-darker);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    &:before {
      position: absolute;
      bottom: 0;
      width: 0%;
      height: 4px;
      border-radius: 8px;
      content: "";
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: var(--text-color);
      background-color: var(--list-hover-color);
      &:before {
        width: 10%;
        background-color: rgba(109, 255, 199, 0.377);
      }
    }
    &.active {
      color: var(--text-color);
      background-color: var(--list-selected-color); 
      &:before {
        width: 50%;
        background-color: var(--primary-color);
      }
    }
  }
}
