.header {
  --info: rgb(103, 219, 255);
  --success: rgb(99, 255, 151);
  --redirect: rgb(118, 166, 255);
  --client-error: rgb(255, 91, 91);
  --server-error: rgb(255, 129, 97);

  display: flex;
  gap: 8px;
}